<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX - Contacts</title>

    <!-- FAVICON -->
    <link rel="icon" href="favicon.svg" />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- HTMX CDN -->
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Search Contacts</h1>

    <input
      type="search"
      name="search"
      placeholder="Search contacts"
      hx-post="/search"
      hx-trigger="input changed delay:500ms, search"
      hx-target="#search-results"
    />

    <div id="search-results"></div>
  </body>
</html>
